/*
forma de generar los estilos  en este proyecto 
1. posicionamiento
2. modelo de caja (box model)
3. tipografia 
4. visuales 
5. otros
*/

:root {
    /* fonts */
    --dm-sans: 'DM Sans', sans-serif;
    --inter: 'Inter', sans-serif;
    --sm:400;
    --md:500;
    --lg:700;
    /* colors */
    --bitcoin-orange: #f7931A;
    --soft-orange:#FFE9D5;
    --secundary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --gray: #BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--dm-sans);
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* el width no se va a hacer mas chico de 320px */
    min-width: 32rem;
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%)
}

header img {
    width: 15rem;
    height: 2.4rem;
    margin-top: 0;
    /* esta es la forma de centrar un elemento con flex */
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 28.8rem ;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: var(--lg);
    /* espacio entre lineas */
    line-height: 2.6rem;
    color: var(--just-white);
}


.header--title-container p {
    margin-top: 2.4rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: var(--md);
    color: var(--soft-orange);

}

.header--button {
    position: absolute;
    /* aqui vamos a generar un calculo */
    left: calc(50% - 118px);
    top: 27rem;
    display: block;
    margin-top: 3.5rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--off-white);
    /* sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: var(--lg);
    text-decoration: none;
    color: var(--warm-black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/arrow-down.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 3rem;
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    margin: 0 auto;
}

.backgroundImg {
    width: 19.5rem;
    height: 19.5rem;
    background-image: url('../assets/img/bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-self: center;
    margin: 0 auto;
    margin-bottom: 5rem;
}


.main-exchange-container--title h2 {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: var(--lg);
    line-height: 2.6rem;
    color: var(--warm-black);

}

.main-exchange-container--title p {
    font-size: 1.4rem;
    font-weight: var(--md);
    line-height: 1.8rem;
    color: #757575;
    text-align: center;
    margin-bottom: 3rem;
}

.main-currency-table {
    width: 70%;
    min-width: 23.5rem;
    max-width: 50rem;
    height: 36rem;
    margin: 0 auto;
    font-family: var(--inter);   
}

.main-currency-table .currency-table--title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: var(--lg);
    font-family: var(--dm-sans);
    color: var(--bitcoin-orange);
    line-height: 2.3rem;
}



.currency-table--container {
    width: 90%;
    min-width: 23.0rem;
    max-width: 30rem;
    height: 25rem;
    margin: 0 auto;
}

.currency-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: var(--md);
    line-height: 1.9rem;
    color: #B5B0AC;
    background-color: var(--just-white);
}

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;   
}


.currency-table--container .table__top-rigth {
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-rigth {
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__rigth {
    font-size: 1.4rem;
    font-weight: var(--sm);
    line-height: 16.94px;
    color:#757575;
    font-family: var(--inter);
}

.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.currency-table--date {
    width: 19rem;
    height: 3rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: .8rem;
    background-color: var(--soft-orange);
    border-radius: .8rem;
}

.currency-table--date {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}

.main-currency-table-second {
    width: 70%;
    min-width: 23.5rem;
    max-width: 50rem;
    height: 36rem;
    margin: 0 auto;
    font-family: var(--inter);   
    display: none;
}

.currency-table--title-second {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: var(--lg);
    font-family: var(--dm-sans);
    color: var(--secundary-blue);
    line-height: 2.3rem;
}

.currency-table--container-second {
    width: 90%;
    min-width: 23.0rem;
    max-width: 30rem;
    height: 25rem;
    margin: 0 auto;
}

.currency-table--container-second  table {
    width: 100%;
    height: 100%;
}

.currency-table--container-second  td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: var(--md);
    line-height: 1.9rem;
    color: #B5B0AC;
    background-color: var(--just-white);
}

.currency-table--container-second  .table__top-left-second  {
    border-radius: 15px 0 0 0;   
}


.currency-table--container-second  .table__top-rigth-second  {
    border-radius: 0 15px 0 0;
}

.currency-table--container-second  .table__bottom-left-second  {
    border-radius: 0 0 0 15px;
}

.currency-table--container-second  .table__bottom-rigth-second  {
    border-radius: 0 0 15px 0;
}

.currency-table--container-second  .table__rigth-second  {
    font-size: 1.4rem;
    font-weight: var(--sm);
    line-height: 16.94px;
    color:#757575;
    font-family: var(--inter);
}


.currency-table--date-second {
    width: 19rem;
    height: 3rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: .8rem;
    background-color: var(--soft-blue);
    border-radius: .8rem;
}

.currency-table--date-second {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 32rem;
    height: auto;
    padding: 2rem 1rem;
    background-color: var(--warm-black);
}

.product-detail-battata-logo {
    position: absolute;
    width: 4rem;
    height: 2.5rem;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('../assets/img/batata-sections.svg');
    background-repeat: no-repeat;
}

.product-detail--title {
    width: 90%;
    min-width: 28.8rem;
    height: auto;
    margin: 0 auto;
    margin-top: 5rem;
    text-align: center;
}

.product-detail--title h2 {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: var(--lg);
    color: var(--just-white);
}

.product-detail--title p {
    margin-bottom: 2rem;
    font-size: 1.4rem ;
    line-height: 1.8rem;
    font-weight: var(--md);
    color: #808080;
}

.product-detail--card {
    width: 90%;
    min-width: 28.8rem;
    max-width: 40rem;
    height: 15rem;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background-color: #282623;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card  .clock {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-image: url('../assets/icons/clock.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product--card--title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: var(--lg);
    color: var(--just-white);
    margin-bottom: 1rem;
}

.product--card-body {
    font-size: 1.4rem;
    font-weight: var(--md);
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card-two {
    width: 90%;
    min-width: 28.8rem;
    max-width: 40rem;
    height: 15rem;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background-color: #282623;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card-two .eye{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-image: url('../assets/icons/eye.svg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

.product-detail--card-three {
    width: 90%;
    min-width: 28.8rem;
    max-width: 40rem;
    height: 15rem;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background-color: #282623;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
} 

.product-detail--card-three .dollar-sign {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-image: url('../assets/icons/dollar-sign.svg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

.product-detail--card-four {
    width: 90%;
    min-width: 28.8rem;
    max-width: 40rem;
    height: 15rem;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background-color: #282623;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
} 

.product-detail--card-four  .check-circule {
    display: inline-block;
    width: 2rem;
    min-height: 2rem;
    margin-bottom: 1rem;
    background-image: url('../assets/icons/check-circle.svg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

.bitcoin-img {
    width: 100%;
    min-width: 32rem;
    height: 60vh;
    background-image: url('../assets/img/bitcoinbaby.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bitcoin-img h2 {
    padding-top: 4rem;
    font-size: 2.4rem;
    font-weight: var(--lg);
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}